@font-face {
  font-family: 'regular';
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../resources/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'robobold';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../resources/fonts/Roboto-Bold.ttf') format('truetype');
}
body,
html {
  font-family: regular;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  background: black;
}
body div,
html div {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body .containerDiv,
html .containerDiv {
  width: 100%;
  height: 100%;
  text-align: center;
}
#frontpage .card {
  position: fixed;
  width: 33.33%;
  height: 50%;
  box-sizing: border-box;
  display: inline-block;
}
#frontpage .card#weather {
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  background: linear-gradient(to bottom, #1e5799 0%, #2989d8 50%, #7db9e8 100%);
  padding-top: 30px;
  color: darkgray;
}
#frontpage .card#weather #weatherIcon {
  font-size: 100px;
  display: inline-block;
}
#frontpage .card#weather #weatherTemperature {
  font-size: 40px;
  padding-left: 8px;
  display: inline-block;
}
#frontpage .card#weather #weatherDescription {
  padding-top: 16px;
  font-size: 30px;
}
#frontpage .card#temperature {
  top: 0;
  left: 33.33%;
  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
  padding-top: 30px;
  color: darkgray;
}
#frontpage .card#temperature #currentTemperature {
  font-size: 40px;
}
#frontpage .card#outletControls {
  top: 0;
  right: 0;
  background: -webkit-linear-gradient(top, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
  background: linear-gradient(to bottom, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%);
}
#frontpage .card#outletControls .outlet {
  width: 100%;
  height: 20%;
}
#frontpage .card#outletControls .outlet .toggle {
  width: 50%;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
  height: 100%;
  line-height: 45px;
}
#frontpage .card#ruter {
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(top, #fb83fa 0%, #e93cec 100%);
  background: linear-gradient(to bottom, #fb83fa 0%, #e93cec 100%);
  text-align: left;
  padding: 8px;
}
#frontpage .card#ruter #rutermessage {
  font-size: 18px;
}
#frontpage .card#ruter #ruterList {
  line-height: 30px;
}
#frontpage .card#ruter #ruterList .time {
  float: right;
  display: inline-block;
  min-width: 30%;
  max-width: 35%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#frontpage .card#ruter #ruterList .name {
  float: left;
  display: inline-block;
  max-width: 60%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#frontpage .card#clock {
  bottom: 0;
  left: 33.33%;
  background: -webkit-linear-gradient(top, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  background: linear-gradient(to bottom, #b3dced 0%, #29b8e5 50%, #bce0ee 100%);
  padding-top: 60px;
  font-size: 75px;
  color: darkgray;
}
#frontpage .card#settings {
  bottom: 0;
  right: 0;
  background: -webkit-linear-gradient(top, #ffb375 27%, #ff7400 100%);
  background: linear-gradient(to bottom, #ffb375 27%, #ff7400 100%);
}
#frontpage .card#settings .routeDiv3 {
  width: 32.33%;
}
#frontpage .card#settings .height2 {
  height: 50%;
}
#frontpage .card#settings .settingsButton {
  display: inline-block;
  border-sizing: border-box;
  margin-top: 16px;
}
#imagediv img {
  max-height: 100%;
  max-width: 100%;
}
#imagediv #imageRightController {
  position: fixed;
  left: 0;
  width: 100px;
  top: 0;
  bottom: 0;
  display: block;
}
#imagediv #imageLeftController {
  position: fixed;
  right: 0;
  width: 100px;
  top: 0;
  bottom: 0;
  display: block;
}
#settingsdiv {
  color: white;
}
#settingsdiv #sliders {
  width: 400px;
  margin: 12px;
}
input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
