@font-face {
	font-family: 'regular';
	src: local('Roboto Regular'), local('Roboto-Regular'), url('../resources/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'robobold';
	src: local('Roboto Bold'), local('Roboto-Bold'), url('../resources/fonts/Roboto-Bold.ttf') format('truetype');
}

body, html {
	font-family: regular;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	background: white;
	overflow: hidden;
	box-sizing: border-box;
	margin: 0px;
}

div {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

.card{
}
.upperLeft{
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#7db9e8 100%);
	border-bottom: 4px solid black;
	border-right: 4px solid black;
}
.upperMid{
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
	border-left: 4px solid black;
	border-bottom: 4px solid black;
	border-right: 4px solid black;
}
.upperRight{
	background: -webkit-linear-gradient(top, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%);
	border-left: 4px solid black;
	border-bottom: 4px solid black;
}
.lowerLeft{
	background: -webkit-linear-gradient(top, #fb83fa 0%,#e93cec 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #fb83fa 0%,#e93cec 100%);
	border-top: 4px solid black;
	border-right: 4px solid black;
}
.lowerMid{
	background: -webkit-linear-gradient(top, #b3dced 0%,#29b8e5 50%,#bce0ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
	border-left: 4px solid black;
	border-top: 4px solid black;
	border-right: 4px solid black;
}
.lowerRight{
	background: -webkit-linear-gradient(top, #ffb375 27%,#ff7400 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffb375 27%,#ff7400 100%);
	border-left: 4px solid black;
	border-top: 4px solid black;
}

.routeDiv3 {
	float: left;
	width: 33.33%;
	box-sizing: border-box;
	display: inline-block;
}

.routeDiv2 {
	float: left;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
}

.routeDiv1 {
	float: left;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
}

.height1{
	height: 100%;
}

.height2{
	height: 50%;
}

.height3{
	height: 33.33%;
}

.containerDiv{
	width: 100%;
	height: 100%;
	text-align: center;
}

img {
	max-height: 100%;
	max-width: 100%;
}

#housecontrol {

}

#imagediv {
	background: black;

}

#calendardiv{

}

.active{
	background: red;
}

.settings {
	padding-top: 45px;
	max-width: 100%;
	max-height: 100%;
}

#outletControls{
	text-align: center;
}

#weather {
	padding-top: 30px;
	color: darkgray;
}

#weatherIcon {
	font-size: 100px;
}
#weatherDescription{
	font-size: 30px;
}
#weatherTemperature{
	font-size: 40px;
}

#temperature{
	padding-top: 30px;
	font-size: 175px;
	color: darkgray;
}

#motd{
	padding: 30px 20px;
}

#motdMessage{
	font-size: 20px;
}

#motdAuthor{
	font-size: 15px;
}

#clock{
	padding-top: 60px;
	font-size: 75px;
	color: darkgray;
}
